## Data exploring

In [1]:
import sys
import os
import pandas as pd
# Add the project root (the folder containing both ml_analysis and manage_db)
project_root = os.path.abspath(os.path.join(os.getcwd(), "..", ".."))
sys.path.append(project_root)

from manage_db.db_manager import DbManager

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
db = DbManager(table_name="jp_realestate",source=None)
df = db.load_data()
df

C:\Users\nox map\PycharmProjects\realestate_agent\manage_db\db_manager.py:114: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors="ignore")

key,id,source,scraped_at,available_from,balcony_size,building_area_ratio,building_description,building_name,construction_completed,date_updated,direction_facing,floor,floor_area_ratio,floors,gross_yield,land_area,land_rights,landmarks,layout,location,maintenance_fee,manage_type,manager_style,nearest_station,next_update_schedule,occupancy,other_expenses,parking,potential_annual_rent,price_yen,repair_reserve_fund,road_width,sell_situation,size,structure,transaction_type,type,unit_number,unit_summary,url,year_built,zoning
0,284,realestate.co,2025-12-03 10:18:30.580965,2025-07-25,2.40,NaN,"â—†About This Areaâ—† Hiroo Station, located in To...",Ryowa Palace Nishi-Azabu,1999.0,2025-10-29,"North, Northeast, East","[2, 8]",NaN,NaN,NaN,NaN,Freehold,ãƒ»Tourist Spot: Chokokuji Temple (Approx. 6-min...,1LDK,"Nishiazabu, Minato-ku, Tokyo",12250.0,Fully Outsourced Management,Day Shift Management (Commuting Management),Hiroo Station (8 min. walk) Tokyo Metro Hibiya...,2026-01-27,Vacant,5000,"Available, Â¥55,000 / mth",NaN,69990000,"Â¥13,410 / mth",NaN,NaN,38.66,Steel Reinforced Concrete,Non-Exclusive,Mansion,202,NaN,https://realestate.co.jp/en/forsale/view/1256872,NaN,Residential
1,285,realestate.co,2025-12-03 10:18:30.580965,NaN,8.64,NaN,Baycrest Tower is a tower apartment with a tot...,BAY CREST TOWER,NaN,2025-11-18,South,"[23, 40]",NaN,NaN,NaN,6102.72,Freehold,NaN,2LDK,"Konan, Minato-ku, Tokyo",13100.0,NaN,NaN,Tennozu Isle Station (12 min. walk) Rinkai Line,2025-12-18,Occupied,Internet Service Fee,"Available, Â¥30,000 / mth",NaN,114800000,"Â¥16,600 / mth",NaN,Occupied,62.42,Reinforced Concrete,Brokerage,Mansion,23F,NaN,https://realestate.co.jp/en/forsale/view/1287626,2005.0,Industrial
2,286,realestate.co,2025-12-03 10:18:30.580965,2025-10-15,NaN,40.0,"Enjoy breathtaking views of Sagami Bay, Mount ...",æ¨ªé ˆè³€å¸‚ç§‹è°·,1974.0,2025-10-20,South,NaN,80.0,2.0,NaN,938.24,Freehold,NaN,3LDK,"Akiya, Yokosuka-shi, Kanagawa",NaN,NaN,NaN,Zushi Station (17 min. by bus) JR Yokosuka Line,2026-01-18,Occupied,-,Available,NaN,155000000,NaN,NaN,NaN,119.84,Wood,Non-Exclusive,House,NaN,NaN,https://realestate.co.jp/en/forsale/view/1285660,NaN,Residential
3,287,realestate.co,2025-12-03 10:18:30.580965,NaN,8.29,NaN,â—† Introduction to Azabu Ichibeicho Homes â—† â€œAz...,Azabu Ichibeicho Homes,2004.0,2025-11-27,Southwest,"[8, 15]",NaN,NaN,NaN,NaN,Freehold,ðŸ‡ºðŸ‡¸ American English Azabu Municipal Nursery Sc...,2LDK,"Roppongi, Minato-ku, Tokyo",23900.0,Partially Outsourced Management,Day Shift Management (Commuting Management),Kamiyacho Station (8 min. walk) Tokyo Metro Hi...,2026-02-25,Vacant,NaN,"Available, Â¥40,000 / mth",NaN,368000000,"Â¥17,920 / mth",NaN,NaN,69.99,Reinforced Concrete,Brokerage,Mansion,NaN,NaN,https://realestate.co.jp/en/forsale/view/1287498,NaN,NaN
4,288,realestate.co,2025-12-03 10:18:30.580965,2025-11-25,NaN,40.0,â˜…Renovated 7 bedrooms (including a Japanese-st...,éŽŒå€‰å¸‚ æ´¥,1987.0,2025-11-26,South,NaN,80.0,2.0,NaN,441.22,Freehold,NaN,7LDK,"Tsu, Kamakura-shi, Kanagawa",NaN,NaN,NaN,Kamakura Koukoumae Station (10 min. walk) Enos...,2026-02-24,Vacant,-,Available,NaN,129000000,NaN,NaN,NaN,273.41,Light Gauge Steel,Non-Exclusive,House,NaN,NaN,https://realestate.co.jp/en/forsale/view/1299053,NaN,Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2404,3303,realestate.co,2025-12-11 14:23:32.195562,NaN,NaN,60.0,"â˜…4LDK house with convenient living, facing the...","Building A, Toyomachi 4-chome, Shibata City, N...",1977.0,2025-11-27,Northwest,NaN,200.0,2.0,NaN,255.38,Freehold,"JR Uetsu Main Line ""Shibata Station"" approx. 1...",4LDK,"Yutakacho, Shibata-shi, Niigata",NaN,NaN,NaN,Shibata Station (14 min. walk) JR Uetsu Main Line,2026-02-25,Vacant,The cost of the purchase will be proposed at t...,Available,NaN,16300000,NaN,16.0,NaN,102.06,Wood,Non-Exclusive,House,NaN,NaN,https://realestate.co.jp/en/forsale/view/1237360,NaN,Residential
2405,3304,realestate.co,2025-12-11 14:23:32.195562,NaN,NaN,60.0,â˜…A 95-year-old traditional 11DK house with ple...,"Shioya, Akiha Ward, Niigata City, Niigata Pref...",NaN,2025-11-27,"South, West",NaN,200.0,2.0,NaN,763.63,Freehold,"JRShinetsu Main Line ""Furutsu Station"" approx....",10DK,"Shiodani, Niigata-shi Akiha-ku, Niigata",NaN,NaN,NaN,Furutsu Station (6 min. by car) JR Shin'etsu M...,2026-02-25,Vacant,The cost of the purchase will be proposed at t...,Available,NaN,13500000,NaN,4.2,NaN,280.53,Wood,Seller,House,NaN,NaN,https://realestate.co.jp/en/forsale/view/1243926,1930.0,Other
2406,3305,realestate.co,2025-12-11 14:23:32.195562,NaN,NaN,60.0,â˜…JR Higashi-Sanjo Station: 5 minutes walk! Spa...,"Tajima 2-chome, Sanjo City, Niigata Prefecture",1986.0,2025-12-08,Northwest,NaN,200.0,2.0,NaN,264.58,Freehold,"JR Shinetsu Main Line ""Higashi-Sanjo Station"" ...",6LDK,"Tajima, Sanjo-shi, Niigata",NaN,NaN,NaN,Higashisanjou Station (5 min. walk) JR Yahiko ...,2026-03-08,Vacant,The cost of the purchase will be proposed at t...,Available,NaN,15800000,NaN,4.3,NaN,177.84,Wood,Seller,House,NaN,NaN,https://realestate.co.jp/en/forsale/view/1237379,NaN,Residential
2407,3306,realestate.co,2025-12-11 14:23:32.195562,NaN,5.50,NaN,Newly renovated property/vacant room â– Pets all...,S Series Park Tower Ikebukuro East Place,2008.0,2025-12-11,Northeast,"[10, 31]",NaN,NaN,NaN,NaN,Freehold,My Basket Higashi-Ikebukuro 2-chome store: 3 m...,1LDK,"Higashiikebukuro, Toshima-ku, Tokyo",15480.0,Fully Outsourced Management,Day Shift Management (Commuting Management),Higashiikebukuro Station (8 min. walk) Tokyo M...,2026-03-11,Vacant,NaN,"Available, Â¥32,000 / mth",NaN,79990000,"Â¥15,060 / mth",NaN,NaN,41.83,Reinforced Concrete,Non-Exclusive,Mansion,1001,NaN,https://realestate.co.jp/en/forsale/view/1227090,NaN,Residential
2408,3307,realestate.co,2025-12-11 14:23:32.195562,NaN,NaN,60.0,"â˜…Luxurious Heike mansion, a relaxing life surr...","Nishiminatocho, Kashiwazaki City, Niigata Pref...",2007.0,2025-11-27,"Northeast, Southeast",NaN,200.0,1.0,NaN,1031.25,Freehold,"JR Shinetsu Main Line ""Kashiwazaki Station"" ap...",7K,"Nishiminatocho, Kashiwazaki-shi, Niigata",NaN,NaN,NaN,Kashiwazaki Station (17 min. walk) JR Shin'ets...,2026-02-25,Vacant,The cost of the purchase will be proposed at t...,Available,NaN,38900000,NaN,12.6,NaN,309.26,Wood,Seller,House,NaN,NaN,https://realestate.co.jp/en/forsale/view/1275641,NaN,Residential

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2409 entries, 0 to 2408
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2409 non-null   int64
 1   source                  2409 non-null   object
 2   scraped_at              2409 non-null   datetime64[ns]
 3   available_from          1246 non-null   object
 4   balcony_size            995 non-null    float64
 5   building_area_ratio     668 non-null    float64
 6   building_description    2396 non-null   object
 7   building_name           2409 non-null   object
 8   construction_completed  1709 non-null   float64
 9   date_updated            2409 non-null   object
 10  direction_facing        2201 non-null   object
 11  floor                   1658 non-null   object
 12  floor_area_ratio        669 non-null    float64
 13  floors                  557 non-null    float64
 14  gross_yield             181 non-null    float64
 15  land_area               780 non-null    float64
 16  land_rights             2406 non-null   object
 17  landmarks               1237 non-null   object
 18  layout                  2399 non-null   object
 19  location                2409 non-null   object
 20  maintenance_fee         1604 non-null   float64
 21  manage_type             1276 non-null   object
 22  manager_style           1068 non-null   object
 23  nearest_station         2322 non-null   object
 24  next_update_schedule    2409 non-null   object
 25  occupancy               2393 non-null   object
 26  other_expenses          1714 non-null   object
 27  parking                 1137 non-null   object
 28  potential_annual_rent   190 non-null    float64
 29  price_yen               2409 non-null   int64
 30  repair_reserve_fund     1574 non-null   object
 31  road_width              215 non-null    float64
 32  sell_situation          10 non-null     object
 33  size                    2399 non-null   float64
 34  structure               2353 non-null   object
 35  transaction_type        2409 non-null   object
 36  type                    2399 non-null   object
 37  unit_number             1059 non-null   object
 38  unit_summary            17 non-null     object
 39  url                     2409 non-null   object
 40  year_built              690 non-null    float64
 41  zoning                  1907 non-null   object
dtypes: datetime64[ns](1), float64(12), int64(2), object(27)
memory usage: 790.6+ KB

In [5]:
df.type.value_counts()

type
Mansion          1667
House             582
Hotel/Ryokan      106
Retail             18
Apartment           8
Office              7
Holiday House       6
Terrace house       2
Town house          2
Other               1
Name: count, dtype: int64

In [6]:
df.manage_type.value_counts()

manage_type
Fully Outsourced Management        1223
Self-Management                      27
Partially Outsourced Management      26
Name: count, dtype: int64

In [7]:
df.occupancy.value_counts()

occupancy
Vacant      1911
Occupied     482
Name: count, dtype: int64

In [8]:
df.gross_yield.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2409 entries, 0 to 2408
Series name: gross_yield
Non-Null Count  Dtype
--------------  -----
181 non-null    float64
dtypes: float64(1)
memory usage: 18.9 KB

In [9]:
df.location.value_counts()    #needs forther data division into (city,distric....)

location
Akasaka, Minato-ku, Tokyo                      41
Minamiaoyama, Minato-ku, Tokyo                 40
Yoyogi, Shibuya-ku, Tokyo                      38
Mita, Minato-ku, Tokyo                         32
Shirokane, Minato-ku, Tokyo                    31
                                               ..
Kitatanaka, Niigata-shi Minami-ku, Niigata      1
Bishamoncho, Kyoto-shi Shimogyo-ku, Kyoto       1
Hase, Kamakura-shi, Kanagawa                    1
Ishikawa higashionna, Uruma-shi, Okinawa        1
Higashiyama, Abuta-gun Niseko-cho, Hokkaido     1
Name: count, Length: 1050, dtype: int64

In [10]:
df.structure.unique()

array(['Steel Reinforced Concrete', 'Reinforced Concrete', 'Wood',
       'Light Gauge Steel', nan, 'Steel Frame',
       'Precast Reinforced Concrete', 'Other', 'Concrete Block'],
      dtype=object)

## data preprocessing

In [13]:
import ast

import re

def parse_floor_safe(x):
    if not isinstance(x, str):
        return None
    
    # extract all integers
    nums = re.findall(r'\d+', x)
    if not nums:
        return None
    
    return list(map(int, nums))
 
df["floor_clean"] = df["floor"].apply(parse_floor_safe)


df["building_total_floors"] = df["floor_clean"].apply(lambda x: x[0] if x else None)
df["unit_floor"] = df["floor_clean"].apply(lambda x: x[1] if x else None)

df["building_total_floors"] = df["building_total_floors"].fillna(df["floors"])

# for houses (entire house), unit_floor is usually treated as 1
df.loc[df["unit_floor"].isna() & df["floors"].notna(), "unit_floor"] = 1

In [14]:
df = df.drop(columns=["floor","floors","floor_clean","id","source","scraped_at","building_description","building_name","date_updated","gross_yield","unit_number","unit_summary","url","next_update_schedule","landmarks","manager_style","manage_type","other_expenses"])

In [15]:
def clean_parking(df):
    df["clean_parking"] = (
        df["parking"]
        .fillna("")                               # replace NaN with empty string
        .astype(str)                              # ensure all values are strings
    )
    df["parking_status"] = (
        df['clean_parking']
        .str.split(",").str[0].str.strip()        # extract first part
        .eq("Available")                          # compare to "Available"
        .astype(int)                              # convert True/False â†’ 1/0
    )
    
    df["parking_cost_mth"] = (
        df["clean_parking"]
        .str.extract(r"Â¥([\d,]+)\s*/\s*mth")[0]
        .str.replace(",", "")
        .astype(float)
    )
    

    df = df.drop(columns=["clean_parking","parking"])
    df["parking_cost_mth"] = df["parking_cost_mth"].fillna(0)
    return df

df = clean_parking(df)
df[['parking_status','parking_cost_mth']]

key   parking_status  parking_cost_mth
0                  1           55000.0
1                  1           30000.0
2                  1               0.0
3                  1           40000.0
4                  1               0.0
...              ...               ...
2404               1               0.0
2405               1               0.0
2406               1               0.0
2407               1           32000.0
2408               1               0.0

[2409 rows x 2 columns]

In [16]:
df["built_year"] = df["construction_completed"].fillna(df["year_built"])
df= df.drop(columns=["construction_completed","year_built"])

In [17]:
df.location

0                   Nishiazabu, Minato-ku, Tokyo
1                        Konan, Minato-ku, Tokyo
2                  Akiya, Yokosuka-shi, Kanagawa
3                     Roppongi, Minato-ku, Tokyo
4                    Tsu, Kamakura-shi, Kanagawa
                          ...
2404             Yutakacho, Shibata-shi, Niigata
2405     Shiodani, Niigata-shi Akiha-ku, Niigata
2406                  Tajima, Sanjo-shi, Niigata
2407         Higashiikebukuro, Toshima-ku, Tokyo
2408    Nishiminatocho, Kashiwazaki-shi, Niigata
Name: location, Length: 2409, dtype: object

In [18]:
def split_location(df):
    df["location"] = df["location"].fillna("")
    parts = df["location"].str.split(",", expand=True)
    
    df["prefecture"] = parts[2].str.strip()
    return df.drop(columns=["location"])

df = split_location(df)

In [19]:
df = df.join(pd.get_dummies(df["prefecture"],prefix="prefecture").astype(int)).drop("prefecture",axis=1)

In [20]:
df = df.join(pd.get_dummies(df["land_rights"],prefix="land_rights").astype(int)).drop("land_rights",axis=1)
df = df.join(pd.get_dummies(df["occupancy"],prefix="occ").astype(int)).drop("occupancy",axis=1)
df = df.join(pd.get_dummies(df["structure"],prefix="structure").astype(int)).drop("structure",axis=1)
df = df.join(pd.get_dummies(df["zoning"],prefix="zoning").astype(int)).drop("zoning",axis=1)
df = df.join(pd.get_dummies(df["transaction_type"],prefix="transaction").astype(int)).drop("transaction_type",axis=1)
df = df.join(pd.get_dummies(df["type"],prefix="type").astype(int)).drop("type",axis=1)

In [21]:
df.layout.unique()

array(['1LDK', '2LDK', '3LDK', '7LDK', '6K', 'Whole Building', '5LDK',
       '4LDK', '5SLDK', '2SLDK', '1R', '2DK', '6SLDK', '3SLDK', '10LDK',
       '4SLDK', '1K', '3DK', '4DK', '4K', '6DK', '8DK', '9SLDK', '1SLDK',
       '1DK', '6LDK', '7K', '5K', '8LDK', '1SDK', '7SLDK', '9LDK',
       '8SLDK', '5DK', '10SLDK', '6SDK', '2K', '10K', '3K', nan, 'Shop',
       'Office', '7DK', '4SLK', '2SDK', '9DK', '10DK'], dtype=object)

In [22]:
import re
import numpy as np

def clean_layout(df):
    # standardize to string
    df["layout"] = df["layout"].fillna("").astype(str).str.strip()

    # 1. Flag whole-building listings
    df["is_whole_building"] = df["layout"].str.contains("whole", case=False).astype(int)

    # 2. Extract number of rooms (LDK style)
    # e.g. 1LDK, 3DK, 2K â†’ extract leading digits
    df["rooms"] = df["layout"].str.extract(r"^(\d+)").astype(float)

    # 3. Detect layout characters (L, D, K)
    df["has_living"] = df["layout"].str.contains("L", case=False).astype(int)
    df["has_dining"] = df["layout"].str.contains("D", case=False).astype(int)
    df["has_kitchen"] = df["layout"].str.contains("K", case=False).astype(int)
    df["has_storage"] = df["layout"].str.contains(r"S(?!TUDIO)", case=False).astype(int)

    # 4. Studio / R-type detection (1R, R, SR)
    r_pattern = r"(^1R$)|(^R$)|(^SR$)|(\b1R\b)|(\bR\b)"
    is_r_type = df["layout"].str.contains(r_pattern, case=False)


    # 5. Fill missing rooms for whole buildings with NaN (can't infer)
    df.loc[df["is_whole_building"] == 1, "rooms"] = np.nan

    df = df.drop(columns = ["layout"])

    return df

In [23]:
df = clean_layout(df)

C:\Users\nox map\AppData\Local\Temp\ipykernel_22472\2178700966.py:23: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  is_r_type = df["layout"].str.contains(r_pattern, case=False)

In [24]:
df[["is_whole_building","rooms","has_living","has_dining","has_kitchen","has_storage"]]

,is_whole_building,rooms,has_living,has_dining,has_kitchen,has_storage
0,0,1.0,1,1,1,0
1,0,2.0,1,1,1,0
2,0,3.0,1,1,1,0
3,0,2.0,1,1,1,0
4,0,7.0,1,1,1,0
...,...,...,...,...,...,...
2404,0,4.0,1,1,1,0
2405,0,10.0,0,1,1,0
2406,0,6.0,1,1,1,0
2407,0,1.0,1,1,1,0
2408,0,7.0,0,0,1,0

In [25]:
valid_dirs = {
    "NORTH", "SOUTH", "EAST", "WEST",
    "NORTHEAST", "NORTHWEST",
    "SOUTHEAST", "SOUTHWEST"
}
def clean_direction(d):
    if pd.isna(d):
        return []
    parts = [p.strip().upper() for p in d.split(",")]
    return [p for p in parts if p in valid_dirs]

df['direction_list'] = df['direction_facing'].apply(clean_direction)

for d in valid_dirs:
    df[f"dir_{d}"] = df["direction_list"].apply(lambda lst: int(d in lst))

In [26]:
df = df.drop(columns=["direction_facing","direction_list"])

In [36]:
df = df.drop(columns=["sell_situation","road_width"])

In [42]:
df.repair_reserve_fund.unique()

array(['Â¥13,410 / mth', 'Â¥16,600 / mth', nan, ..., 'Â¥8,710 / mth',
       'Â¥10,890 / mth', 'Â¥15,060 / mth'], shape=(1078,), dtype=object)

In [43]:
df["repair_reserve_fund"] = (
    df["repair_reserve_fund"]
    .fillna("")
    .astype(str)
    .str.replace(r"\D", "", regex=True)
    .replace("", None)  # replace empty strings with None
    .pipe(pd.to_numeric, errors="coerce")
)

In [56]:
df.floor_area_ratio.isna().value_counts()

floor_area_ratio
True     1740
False     669
Name: count, dtype: int64

In [57]:
df.building_area_ratio.isna().value_counts()

building_area_ratio
True     1741
False     668
Name: count, dtype: int64

In [58]:
df.balcony_size.isna().value_counts()

balcony_size
True     1414
False     995
Name: count, dtype: int64

In [59]:
df.land_area.isna().value_counts()

land_area
True     1629
False     780
Name: count, dtype: int64

In [60]:
df.potential_annual_rent.isna().value_counts()

potential_annual_rent
True     2219
False     190
Name: count, dtype: int64

In [71]:
df.available_from.isna().value_counts()

available_from
False    1246
True     1163
Name: count, dtype: int64

In [61]:
df = df.drop(columns=["floor_area_ratio","building_area_ratio","balcony_size","land_area","potential_annual_rent"])

In [65]:
df['built_year'] = df['built_year'].astype('Int64')

In [66]:
df.built_year

0       1999
1       2005
2       1974
3       2004
4       1987
        ...
2404    1977
2405    1930
2406    1986
2407    2008
2408    2007
Name: built_year, Length: 2409, dtype: Int64

In [69]:
from datetime import datetime

current_year = datetime.now().year

df['building_age'] = current_year - df['built_year']

In [72]:
df.available_from

0       2025-07-25
1              NaN
2       2025-10-15
3              NaN
4       2025-11-25
           ...
2404           NaN
2405           NaN
2406           NaN
2407           NaN
2408           NaN
Name: available_from, Length: 2409, dtype: object

In [73]:
# Convert to datetime
df['available_from'] = pd.to_datetime(df['available_from'], errors='coerce')

# Create a missing flag
df['available_from_missing'] = df['available_from'].isna().astype(int)

# Days until available (NaN stays if missing)
df['days_until_available'] = (df['available_from'] - pd.Timestamp.today()).dt.days

# Extract month and year for seasonality patterns
df['available_month'] = df['available_from'].dt.month
df['available_year'] = df['available_from'].dt.year

In [74]:
df[["available_from","available_from_missing","days_until_available","available_month","available_year"]]

,available_from,available_from_missing,days_until_available,available_month,available_year
0,2025-07-25,0,-140.0,7.0,2025.0
1,NaT,1,NaN,NaN,NaN
2,2025-10-15,0,-58.0,10.0,2025.0
3,NaT,1,NaN,NaN,NaN
4,2025-11-25,0,-17.0,11.0,2025.0
...,...,...,...,...,...
2404,NaT,1,NaN,NaN,NaN
2405,NaT,1,NaN,NaN,NaN
2406,NaT,1,NaN,NaN,NaN
2407,NaT,1,NaN,NaN,NaN
2408,NaT,1,NaN,NaN,NaN

In [81]:
df['nearest_station'].unique()

array(['Hiroo Station (8 min. walk) Tokyo Metro Hibiya Line',
       'Tennozu Isle Station (12 min. walk) Rinkai Line',
       'Zushi Station (17 min. by bus) JR Yokosuka Line', ...,
       'Higashisanjou Station (5 min. walk) JR Yahiko Line',
       'Higashiikebukuro Station (8 min. walk) Tokyo Metro YÅ«rakuchÅ Line',
       "Kashiwazaki Station (17 min. walk) JR Shin'etsu Main Line (Naoetsu-Niigata)"],
      shape=(1741,), dtype=object)

In [82]:
import re

def parse_station(s):
    if pd.isna(s):
        return pd.Series([None, None, None, None])
    
    # Regex to capture: Station name, minutes, mode, line
    match = re.match(r"^(.*?) Station \((\d+) min\. (.*?)\) (.*)$", s)
    if match:
        station_name = match.group(1).strip()
        minutes = int(match.group(2))
        mode = match.group(3).strip()
        line = match.group(4).strip()
        return pd.Series([station_name, minutes, mode, line])
    else:
        return pd.Series([s, None, None, None])  # fallback

df[['ns_station_name','ns_minutes','ns_mode','ns_line']] = df['nearest_station'].apply(parse_station)

In [83]:
df[['ns_station_name','ns_minutes','ns_mode','ns_line']]

,ns_station_name,ns_minutes,ns_mode,ns_line
0,Hiroo,8.0,walk,Tokyo Metro Hibiya Line
1,Tennozu Isle,12.0,walk,Rinkai Line
2,Zushi,17.0,by bus,JR Yokosuka Line
3,Kamiyacho,8.0,walk,Tokyo Metro Hibiya Line
4,Kamakura Koukoumae,10.0,walk,Enoshima Electric Railway
...,...,...,...,...
2404,Shibata,14.0,walk,JR Uetsu Main Line
2405,Furutsu,6.0,by car,JR Shin'etsu Main Line (Naoetsu-Niigata)
2406,Higashisanjou,5.0,walk,JR Yahiko Line
2407,Higashiikebukuro,8.0,walk,Tokyo Metro YÅ«rakuchÅ Line
2408,Kashiwazaki,17.0,walk,JR Shin'etsu Main Line (Naoetsu-Niigata)

In [87]:
df.ns_station_name.nunique()

773

In [88]:
df.ns_line.nunique()

198

In [89]:
# Top 10 stations
top10_stations = df['ns_station_name'].value_counts().nlargest(10).index
df['ns_station_name_reduced'] = df['ns_station_name'].where(df['ns_station_name'].isin(top10_stations), 'Other')

# Top 10 lines
top10_lines = df['ns_line'].value_counts().nlargest(10).index
df['ns_line_reduced'] = df['ns_line'].where(df['ns_line'].isin(top10_lines), 'Other')

In [90]:
df[['ns_station_name_reduced','ns_line_reduced']]

     ns_station_name_reduced          ns_line_reduced
0                      Hiroo  Tokyo Metro Hibiya Line
1                      Other                    Other
2                      Other                    Other
3                      Other  Tokyo Metro Hibiya Line
4                      Other                    Other
...                      ...                      ...
2404                   Other                    Other
2405                   Other                    Other
2406                   Other                    Other
2407                   Other                    Other
2408                   Other                    Other

[2409 rows x 2 columns]

In [91]:
df = df.join(pd.get_dummies(df["ns_station_name_reduced"],prefix="station").astype(int)).drop("ns_station_name_reduced",axis=1)
df = df.join(pd.get_dummies(df["ns_line_reduced"],prefix="line").astype(int)).drop("ns_line_reduced",axis=1)

In [93]:
df = df.drop(columns=["nearest_station"])

In [96]:
df = df.drop(columns=['ns_station_name','ns_minutes','ns_mode','ns_line'])

In [97]:
df

,available_from,maintenance_fee,price_yen,repair_reserve_fund,size,building_total_floors,unit_floor,parking_status,parking_cost_mth,built_year,prefecture_Aichi,prefecture_Chiba,prefecture_Fukuoka,prefecture_Gunma,prefecture_Hiroshima,prefecture_Hokkaido,prefecture_Hyogo,prefecture_Ibaraki,prefecture_Kagawa,prefecture_Kagoshima,prefecture_Kanagawa,prefecture_Kumamoto,prefecture_Kyoto,prefecture_Mie,prefecture_Miyagi,prefecture_Nagano,prefecture_Nara,prefecture_Niigata,prefecture_Okayama,prefecture_Okinawa,prefecture_Osaka,prefecture_Saitama,prefecture_Shiga,prefecture_Shizuoka,prefecture_Tochigi,prefecture_Tokyo,prefecture_Wakayama,prefecture_Yamagata,prefecture_Yamanashi,land_rights_Freehold,land_rights_Leasehold,land_rights_Old Leasehold,occ_Occupied,occ_Vacant,structure_Concrete Block,structure_Light Gauge Steel,structure_Other,structure_Precast Reinforced Concrete,structure_Reinforced Concrete,structure_Steel Frame,structure_Steel Reinforced Concrete,structure_Wood,zoning_Commercial,zoning_Forest / Mountain,zoning_Industrial,zoning_Other,zoning_Residential,zoning_Residential / Commercial,transaction_Brokerage,transaction_Exclusive,transaction_Non-Exclusive,transaction_Privileged and Exclusive,transaction_Seller,type_Apartment,type_Holiday House,type_Hotel/Ryokan,type_House,type_Mansion,type_Office,type_Other,type_Retail,type_Terrace house,type_Town house,is_whole_building,rooms,has_living,has_dining,has_kitchen,has_storage,dir_WEST,dir_SOUTHEAST,dir_NORTH,dir_NORTHEAST,dir_EAST,dir_SOUTH,dir_NORTHWEST,dir_SOUTHWEST,building_age,available_from_missing,days_until_available,available_month,available_year,station_Azabu-juban,station_Ebisu,station_Hiroo,station_Ikejiriohashi,station_Kachidoki,station_Omotesando,station_Other,station_Shibuya,station_Shinsen,station_Shirokane-takanawa,station_Tsukishima,line_JR Yamanote Line,line_KeiÅ Inokashira Line,line_OdakyÅ« Line,line_Other,line_Toei ÅŒedo Line,line_Tokyo Metro Chiyoda Line,line_Tokyo Metro Hibiya Line,line_Tokyo Metro Marunouchi,line_Tokyo Metro Namboku Line,line_TÅkyÅ« Den-en-toshi Line,line_TÅkyÅ« TÅyoko Line
0,2025-07-25,12250.0,69990000,13410.0,38.66,2.0,8.0,1,55000.0,1999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,1,1,1,0,0,0,1,1,1,0,0,0,26,0,-140.0,7.0,2025.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,NaT,13100.0,114800000,16600.0,62.42,23.0,40.0,1,30000.0,2005,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,2.0,1,1,1,0,0,0,0,0,0,1,0,0,20,1,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,2025-10-15,NaN,155000000,NaN,119.84,2.0,1.0,1,0.0,1974,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,1,1,1,0,0,0,0,0,0,1,0,0,51,0,-58.0,10.0,2025.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,NaT,23900.0,368000000,17920.0,69.99,8.0,15.0,1,40000.0,2004,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,2.0,1,1,1,0,0,0,0,0,0,0,0,1,21,1,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,2025-11-25,NaN,129000000,NaN,273.41,2.0,1.0,1,0.0,1987,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,1,1,1,0,0,0,0,0,0,1,0,0,38,0,-17.0,11.0,2025.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2404,NaT,NaN,16300000,NaN,102.06,2.0,1.0,1,0.0,1977,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,1,1,1,0,0,0,0,0,0,0,1,0,48,1,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2405,NaT,NaN,13500000,NaN,280.53,2.0,1.0,1,0.0,1930,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,10.0,0,1,1,0,1,0,0,0,0,1,0,0,95,1,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2406,NaT,NaN,15800000,NaN,177.84,2.0,1.0,1,0.0,1986,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,6.0,1,1,1,0,0,0,0,0,0,0,1,0,39,1,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2407,NaT,15480.0,79990000,15060.0,41.83,10.0,31.0,1,32000.0,2008,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,1,1,1,0,0,0,0,1,0,0,0,0,17,1,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2408,NaT,NaN,38900000,NaN,309.26,1.0,1.0,1,0.0,2007,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,7.0,0,0,1,0,0,1,0,1,0,0,0,0,18,1,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0